<p>
  <b>商品名:<%= @item.name %></b>
</P>
<p>
  <b>商品詳細:<%= @item.description %></b>
</P>
<p>
  <b>価格:<%= @item.price %></b>
</P>
<p>
  <b>売り手ID:<%= @item.seller_id %></b>
</P>
<p>
  <b>電子メール:<%= @item.email %></b>
</P>
<p>
  <img src="<%= @item.image_url %>">
</p>